@charset "UTF-8";
/* activar.css */
header.masthead {
    padding-top: 5rem;
    padding-bottom: calc(10rem - 72px);
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(20, 255, 244, 0.8)),to(rgba(92,77,66,.8))),url(../img/duotone.png);
    background: linear-gradient(to bottom,rgba(20, 255, 244, 0.8) 0,rgba(92,77,66,.8) 100%),url(../img/duotone.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}